</html>
<body>
    <table border="1">
        <tr>
            <th colspan="2" bgcolor="navy"><p style="color:white"><i>SELAMAT DATANG DI WEB SAYA</i></th>
        </tr>
        <tr>
            <th rowspan="2" bgcolor="lightpink"><h1 style="color:white"><left> know more about me:</left></h1>
           <p> Email:<a href=" afifa2100018353@webmail.uad.ac.id">afifa2100018353@webmail.uad.ac.id</a> </p>
           <p align="left">Insta: <i>@nurasysyafa</i></p><td> <i><p style="color:darkorange;">ini adalah web pertama saya saya berharap kalian menyukainya </p></i> </td></th></tr>
        <tr>
            <td>
        <form action="contact.php" method="POST">
        <fieldset>
        <legend><center>ISIKAN BIODATA ANDA</center></legend>
        <p style="color:gray;">
            <label>Nama:</label>
            <input type="text" name="nama" placeholder="Nama lengkap..." />
        </p>
        <p style="color:gray;">
            <label>Alamat:</label>
            <input type="text" name="alamat" placeholder="Alamat..." />
        </p>
        <pstyle="color:gray;">
            <label>Agama:</label>
            <select name="agama">
                <option value="islam">Islam</option>
                <option value="kristen">Kristen</option>
                <option value="hindu">Hindu</option>
                <option value="budha">Budha</option>
            </select>        </p>
        <p style="color:gray;">
            <label>Jenis kelamin:</label>
            <label><input type="radio" name="jenis_kelamin" value="laki-laki" /> Laki-laki</label>
            <label><input type="radio" name="jenis_kelamin" value="perempuan" /> Perempuan</label>
        </p>
        <p style="color:gray;">
            <label>Prestasi Yang Pernah Diraih:</label>
            <textarea name="biografi"></textarea>
        </p>
        <p>
            <input type="submit" name="submit" value="simpan" /> <input type="reset" name="reset" value="batal"/>    </td>  </td>
        </tr>

    </table>
<p>
            
        </p>

</td>
        </tr>
        <tr>
            </tr>
        </tr>
        <tr>
           </td>
        </tr>
    </table>

</body>
</html>