
</head>
<body>
 <p> <u>kalimat bergaris bawah</u>
  <i>kalimat yang dicetak miring</i>
  <strong> kalimat yang dicetak tebal</strong></p>
  <u>garis bawah</u>
  <i>miring</i>
  <strong> tebal</strong>
  <strong><i>ini percobaan ke 1</i></strong>
  <strong><u>ini percobaan ke 2</u></strong>
  <u><i>ini percobaan ke 3</i></u>
  </p>
</body>
</html>